$width-mobile: 400px;
$width-tablet: 760px;
$width-desktop: 1100px;



@mixin simple-title{
  font-family: 'Suez One', serif;
  font-size: 2em;
}


.contenedor-bodega {
  h2{
    @include simple-title;
    font-size: 3em;
  }
  padding: 4% 7%;
  background-color: lightgrey;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;/*IE 10*/
  flex-direction: column;
  @media only screen and (min-width : 1024px){
  flex-direction: row;
      }
}

.item-foto{
  //flex: 3 auto;
  flex-basis: 50%;
}
img {
width: 100%;
height: auto;
margin-bottom: 0px;
}

.item-info {
  //flex: 1 auto;
  flex-basis: 50%;
  //background-color: beige;
  text-align: center;
  padding: 5%;
  @media only screen and (min-width : 1024px){
  width: 40%;

 }
}




.work {
  h2{
    @include simple-title;
    font-size: 3em;
  }
    padding: 4% 7%;

// MOBILE FIRST


// TABLET


  @media screen and (min-width:$width-tablet){
  margin-right: 30%;
  .work-title{
    font-size: 4em;
    line-height: 1em;
    text-decoration: none;
    list-style-type: none;
  }
  }

// DESKTOP

  @media screen and (min-width:$width-desktop){
  margin-right: 30%;
  }


  p{
  font-size: 18px;
  font-family: 'Open Sans', sans serif;
  font-weight: 300;
  }
}
