$width-mobile: 400px;
$width-tablet: 760px;
$width-desktop: 1100px;



@mixin simple-title{
  font-family: 'Suez One', serif;
  font-size: 2em;
}

.subtitulo {
  font-family: 'Open Sans', san serif;
  font-weight: normal;
  font-size: 1.2em;
}

.text-scroll{
  font-size: 16px;
  font-family: 'Open Sans', sans serif;
  font-weight: 600;
}

.contenedor-bodega {
  .case-info {
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    font-weight: bolder;
  }
  h2{
    @include simple-title;
    text-align: left;
  }
  padding: 4% 7%;
  background-color: lightgrey;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;/*IE 10*/
  flex-direction: column;
  @media screen and (min-width:$width-tablet){
  h2{
    font-size: 3em;
    line-height: 1em;

  }
}
  @media screen and (min-width:$width-desktop){
  flex-direction: row;

      }
}

.item-foto{
  flex-basis: 50%;
  padding: 5% 0%;
}
img {
width: 100%;
height: auto;
margin-bottom: 0px;
}

.item-info {
  flex-basis: 50%;
  padding-right: 5%;
  @media screen and (min-width:$width-desktop){
  width: 40%;

 }
}




.case {
  h2{
    @include simple-title;
  }
    padding: 4% 7%;

    //background-color: red;
    // display: flex;
    // display: -webkit-flex;
    // display: -ms-flexbox;/*IE 10*/
    // flex-direction: column;
// MOBILE FIRST


// TABLET


  @media screen and (min-width:$width-tablet){
  //margin-right: 30%;

  .h2{

    font-size: 4em;
    line-height: 1em;

  }
  }

// DESKTOP

  @media screen and (min-width:$width-desktop){
  //flex-direction: row;
      //margin-right: 30%;
      padding: 4% 25%;
      }


  p{
  font-size: 18px;
  font-family: 'Open Sans', sans serif;
  font-weight: 300;
  line-height: 1.5em;
  }
}
