$width-mobile: 400px;
$width-tablet: 760px;
$width-desktop: 1100px;



@mixin simple-title{
  font-family: 'Suez One', serif;
  font-size: 2em;
}

.contact {
  padding: 4% 7%;
  @media screen and (min-width:$width-desktop){
  margin-right: 30%;
  }
  @media screen and (min-width:$width-tablet){
  margin-right: 30%;
  }

  h2{
    @include simple-title;
  }

  a{
    font-weight: 600;

  }
  }
  .linked {
    color: #0077B5;
    font-weight: 600;
    //color: #525252;background: linear-gradient(to top, #afdbf0 50%, rgba(0, 0, 0, 0) 50%);background-size: 100% 200%;background-position: top;-moz-transition: background-position 0.1s ease-out;-o-transition: background-position 0.1s ease-out;-webkit-transition: background-position 0.1s ease-out;transition: background-position 0.1s ease-out;border-bottom: 4px solid #afdbf0;

    &:hover{
      color: white;
      background-color: #0077B5;
    }
  }
  .twitter {
    color: #4099FF;
    font-weight: 600;
    &:hover{
      color: white;
      background-color: #4099FF;
    }}
    .medium {
      color: #00ab6c;
      font-weight: 600;
      &:hover{
        color: white;
        background-color: #00ab6c;

    }}




  // @media screen and (max-width:$width-desktop){
  //
  // }
  //
  // @media screen and (max-width:$width-tablet){
  //
  // }
  //
  // @media screen and (max-width:$width-mobile){
  //
  // }
