@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Suez+One');
@import "index.scss";
@import "menu.scss";
@import "about.scss";
@import "contacto.scss";
@import "case.scss";
@import "work.scss";



$width-mobile: 400px;
$width-tablet: 760px;
$width-desktop: 1100px;


.frame{
  overflow: hidden;
  height: 70%;
  @media only screen and (min-width: 780px){
    height: 20vh;
  }
}

@mixin simple-title{
  font-family: 'Suez One', serif;
  font-size: 1.5em;
}

// h1 {
//   @mixin simple-title {
//     font-size: 5em;
//   }
// }
//
// h2 {
//   @mixin simple-title {
//   font-size: 7em;
//   }
// }

p{
font-size: 18px;
font-family: 'Open Sans', sans serif;
font-weight: 300;
}
